<form [formGroup]="checkoutFrom" (ngSubmit)="addButton()">

  <input id="name" type="text" formControlName="name" placeholder="Full name">
  <input id="email" type="text" formControlName="email" placeholder="Email">
  <input id="gender" type="text" formControlName="gender" placeholder="gender">

  <button class="button" type="submit">Add</button>
  <hr />
</form>

<div *ngIf="usersLoaded | async">

  <div *ngFor="let user of usersList">
    <p>{{user.name}}({{user.id}}), {{user.gender}}</p>
    <p>{{user.email}}</p>
    <p>{{user.status}}</p>
    <hr />
  </div>

  <div class="pages">
    <a (click)="setPage(paginationInfo.page - 1)">
      {{paginationInfo.page - 1}}</a> |

    <a>{{paginationInfo.page}}</a> |

    <a (click)="setPage(paginationInfo.page + 1)">{{paginationInfo.page + 1}}</a>
  </div>
</div>

