<form [formGroup]="checkoutFrom" (ngSubmit)="addButton()">

  <input id="user_id" type="text" formControlName="user_id" placeholder="User id">
  <input id="title" type="text" formControlName="title" placeholder="Title">
  <input id="body" type="text" formControlName="body" placeholder="Body">

  <button class="button" type="submit">Add</button>
</form>

<div *ngIf="postsLoaded | async">

  <div *ngFor="let post of postsList">
    <p>{{post.user_id}}, {{post.title}}</p>
    <p>{{post.body}}</p>
    Comments:
    <div *ngIf="commentsLoaded | async">
      <div *ngFor="let comment of commentsList">
        <p *ngIf="post.id === comment.post_id">
          {{comment.name}}: {{comment.body}}
        </p>
      </div>
    </div>

    <hr />
  </div>

  <div>
    <a [ngClass]="{disabled:paginationPostsInfo.links.previous === 'null'}" (click)="setPage(paginationPostsInfo.page - 1)">
      {{paginationPostsInfo.page - 1}}</a> |

    <a>{{paginationPostsInfo.page}}</a> |

    <a (click)="setPage(paginationPostsInfo.page + 1)">{{paginationPostsInfo.page + 1}}</a>
  </div>



</div>
